@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');



* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #f6f5f2;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    min-height: 100vh;

}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    padding: 20px;
}

.sidebar__top {
    height: 500px;
}

.brand {
    height: 20%;
    width: 80%;
    display: flex;
    align-content: center;
    margin-top: 36px;
    margin-bottom: -40px;
}


.brand__name {
    color: #1f3b3f;
}

.leftdiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-card {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

.user-card__img {
    width: 36px;
    height: 36px;
    background-color: #d8e3e1;
    border-radius: 50%;
}

.user-card__info {
    display: flex;
    flex-direction: column;
}

.user-card__name {
    cursor: pointer;
    font-family: Spline Sans;
    font-style: SemiBold;
    line-height: 140%;
    font-size: 14px;
    font-weight: 500;
}

.user-card__role {
    font-size: 12px;
    color: #7a7a7a;
}

.hidden {
    display: none;
}

#logout__btn {
    margin-top: 8px;
    width: 100%;
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    background: #ff4d4f;
    color: #fff;
    cursor: pointer;
}

#icon__right {
    align-items: end;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
    opacity: 1;
    margin-top: 20px;

}

.nav__item {

    font-family: 'Spline Sans';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    padding: 10px 12px;
    text-decoration: none;
    color: #626D82;
    font-size: 14px;
    border-radius: 8px;
}

.nav a img {
    width: 24px;
    height: 24px;
    left: 54px;
    top: 199px;
}

.nav__menu {
    display: flex;
    flex-direction: row;
}

.nav__icon {
    display: flex;
    flex-direction: row;
}

.nav__text {
    margin-left: 10px;
    align-items: center;
    display: flex;
    font-size: 16px;
}

.nav__item:hover {
    background-color: #eef4f3;
}

.nav__item--active {
    background-color: #D3F7B5;
    color: #1F4451;
    font-weight: 400;
}

.sidebar__bottom {
    margin-top: auto;
    padding: 16px;
    border-radius: 10px;
}



#phone__icon {
    padding: 10px;
    margin: 0px 0px -20px -5px;
}

.support__title {

    opacity: 1;
    font-family: 'Spline Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #1F4451;
    margin-bottom: 6px;
}

.support__text {
    font-family: 'Spline Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 140%; */
    color: #626D82;
}

.support__button {

    width: 97px;
    height: 34px;

    background-color: #1f3b3f;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;
}

.support__button:hover {
    opacity: 0.9;
}


body {
    background-color: #f6f5f2;
    color: #1f2937;

}

.page {
    width: 100%;
    /* max-width: 1100px; */
    /* margin: 40px auto; */
    padding: 2%;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #9ca3af;
    margin-bottom: 16px;
    cursor: pointer;
}

.breadcrumb-main {
    color: #436D7C;
}

.breadcrumb-separator {
    margin-top: 2px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.page-title {

    font-family: 'Zin Display';
    font-weight: 600;
    font-size: 33px;
    color: #2A2A2A;
    font-weight: 700;
}

.search-box {
    position: relative;
}

.search-box input {
    width: 260px;
    padding: 10px 36px 10px 12px;
    border: 0.5px solid #B5BDCD;
    border-radius: 4px;
    font-size: 16px;
    color: #B5BDCD;
    font-weight: 400;
}

.search-icon {
    position: absolute;
    right: 12px;
    top: 12px;
    color: #B5BDCD;
}

#placeholder_icon {
    height: 12px;
    width: 12px;
}

.table-card {
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #e0e3e6;
    border-collapse: collapse;
    /* overflow: hidden; */
}

.documents-table {
    width: 100%;
    border-collapse: collapse;
    /* overflow: hidden; */
}


th {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #374151;
    padding: 16px;
    border-bottom: 1px solid #E8ECF1;
    border-collapse: collapse;
}

td {
    padding: 16px;
    border-bottom: 1px solid #E8ECF1;
    vertical-align: middle;
    border-collapse: collapse;
}


.col-checkbox {
    width: 40px;
}

.col-action {
    width: 160px;
}

.col-menu {
    width: 40px;
    text-align: center;
}

.doc-title {
    color: #436D7C;
    font-weight: 600;
}

.status {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 600;
}

.needs-signing {
    background: #436D7C;
    color: #ffffff;
}

.pending {
    background: #E8ECF1;
    color: #626D82;
}

.completed {
    background: #D3F7B5;
    color: #365314;
}

.status-sub {
    font-size: 16px;
    color: #6b7280;
    margin-top: 4px;
    font-style: italic;
}

.date {
    font-size: 14px;
    color: #626D82;
}

.date span {
    color: #6b7280;
}

.btn-outline {
    width: 100%;
    color: #626D82;
    padding: 8px 14px;
    border: 1px solid #d1d5db;
    background: #ffffff;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.btn-outline:hover {
    background: #D3F7B5;
}

.menu {
    font-size: 18px;
    color: #6b7280;
    cursor: pointer;
}

.addAndSearch {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;

}

.add-btn {
    width: 70px;
    color: #6b7280;
    background-color: #FFFFFF;
}

.add-btn:hover {
    background: #D3F7B5;
}

/* .more-cell {
    text-align: right;
    vertical-align: middle;
} */


.threeDotDiv {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.threeDotBtn {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
    display: hidden;
    align-items: center;
    justify-content: center;
}

.threeDotBtn:hover {
    background-color: #F2F4F7;
}



.editDelete {
    position: absolute;
    top: 38px;
    right: 0;
    width: 120px;
    background: #FFFFFF;
    border: 1px solid #E4E7EC;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    /* display: none; */
    /* flex-direction: column; */
    z-index: 10;
}

.hiddenThreeDot {
    display: none;
}


.editDelete button {
    padding: 10px 14px;
    font-size: 13px;
    font-family: 'Spline Sans', sans-serif;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    color: #2A2A2A;
    width: 100%;
}

.editDelete button:hover {
    background-color: #F2F4F7;
}


.editDelete .delete {
    color: #D92D20;
}

.editDelete .delete:hover {
    background: #D3F7B5;
}


.form_body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

}

.display {
    display: flex;
}

.hidden {
    display: hidden;
}

/* Form wrapper */
.form_div {
    width: 100%;
    max-width: 550px;
    height: fit-content;
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

}

/* Inputs layout */
.form_input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Labels & inputs */
.form_input label {
    display: block;
    font-size: 16px;
    margin-bottom: 2%;
    color: #436D7C;
}

.form_input input,
.form_input select {
    width: 100%;
    padding: 10px 0px;
    border-radius: 6px;
    padding-left: 7px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #f4f6f8;
}



/* Buttons area */
.form_actions {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

/* Buttons */
.form_actions button {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px ridge;
    font-size: 14px;
    cursor: pointer;
}

/* Submit */
.form_actions button[type="submit"] {
    background: #D3F7B5;
    color: #436D7C;
}

/* Cancel */
#cancelBtn {
    background: #ff4d4f;
    color: #436D7C;
}

#threeDot {
    font-weight: 600;
<<<<<<< HEAD
}
=======
}
>>>>>>> ddadf8fe5b6c99c4d66d79948925bc23b63cd18e
