@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #f6f5f2;
}
.container{
    display: grid;
    grid-template-columns: 300px 1fr;
    min-height: 100vh;

}
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    padding: 20px;
}

.brand {
    height: 20%;
    width: 80%;
    display: flex;
    align-content: center;
    margin-top: 36px;
    justify-content: center;
}


.brand__name {
    color: #1f3b3f;
}

.leftdiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-card {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

.user-card__img {
    width: 36px;
    height: 36px;
    background-color: #d8e3e1;
    border-radius: 50%;
}

.user-card__info {
    display: flex;
    flex-direction: column;
}

.user-card__name {
    cursor: pointer;
    font-family: Spline Sans;
    font-style: SemiBold;
    line-height: 140%;
    font-size: 14px;
    font-weight: 500;
}

.user-card__role {
    font-size: 12px;
    color: #7a7a7a;
}

#icon__right {
    align-items: end;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
    opacity: 1;
    margin-top: 20px;

}

.nav__item {

    font-family: 'Spline Sans';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    padding: 10px 12px;
    text-decoration: none;
    color: #626D82;
    font-size: 14px;
    border-radius: 8px;
}

.nav a img {
    width: 24px;
    height: 24px;
    left: 54px;
    top: 199px;
}
.nav__menu{
    display: flex;
    flex-direction: row;
}
.nav__icon{
    display: flex;
    flex-direction: row;
}
.nav__text{
    margin-left: 10px;
    align-items: center;
    display: flex;
    font-size: 16px;
}

.nav__item:hover {
    background-color: #eef4f3;
}

.nav__item--active {
    background-color: #D3F7B5;
    color: #1F4451;
    font-weight: 400;
}

.sidebar__bottom {
    margin-top: auto;
    padding: 16px;
    border-radius: 10px;
    }



#phone__icon {
    padding: 10px;
}

.support__title {
    
    opacity: 1;
    font-family: 'Spline Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #1F4451;
    margin-bottom: 6px;
}

.support__text {
    

    font-family: 'Spline Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #626D82;


}

.support__button {

    width: 97px;
    height: 34px;

    background-color: #1f3b3f;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;
}

.support__button:hover {
    opacity: 0.9;
}


body {
    background-color: #f6f5f2;
    color: #1f2937;
}

.page {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #9ca3af;
    margin-bottom: 16px;
}

.breadcrumb-main {
    color: #436D7C;
}

.breadcrumb-separator {
    margin-top: 2px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.page-title {

    font-family: 'Zin Display';
    font-weight: 600;
    font-size: 33px;

    color: #2A2A2A;


    font-weight: 700;
}

.search-box {
    position: relative;
}

.search-box input {
    width: 260px;
    padding: 10px 36px 10px 12px;
    border: 0.5px solid #B5BDCD;
    border-radius: 4px;
    font-size: 16px;
    color: #B5BDCD;
    font-weight:400;
}

.search-icon {
    position: absolute;
    right: 12px;
    top: 12px;
    color: #B5BDCD;
}
#placeholder_icon{
    height: 12px;
    width: 12px;
}

.table-card {
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #e0e3e6;
}

.documents-table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #ffffff;
}

th {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #374151;
    padding: 16px;
    border-bottom: 1px solid #E8ECF1;
}

td {
    padding: 16px;
    border-bottom: 1px solid #E8ECF1;
    vertical-align: middle;
}


.col-checkbox {
    width: 40px;
}

.col-action {
    width: 160px;
}

.col-menu {
    width: 40px;
    text-align: center;
}

.doc-title {
    color: #436D7C;
    font-weight: 600;
}

.status {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 600;
}

.needs-signing {
    background: #436D7C;
    color: #ffffff;
}

.pending {
    background:#E8ECF1;
    color: #626D82;
}

.completed {
    background: #D3F7B5;
    color: #365314;
}

.status-sub {
    font-size: 16px;
    color: #6b7280;
    margin-top: 4px;
    font-style: italic;
}

.date {
    font-size: 14px;
    color: #626D82;
}

.date span {
    color: #6b7280;
}

.btn-outline {
    width: 100%;
    color: #626D82;
    padding: 8px 14px;
    border: 1px solid #d1d5db;
    background: #ffffff;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.btn-outline:hover {
    background: #D3F7B5;
}

.menu {
    font-size: 18px;
    color: #6b7280;
    cursor: pointer;
}

.addAndSearch{
    display: flex;
    justify-content:center;
    align-content: center;
    gap: 50px;

}
.add-btn{
    width: 60px;
    color: #6b7280;
    background-color: #FFFFFF;
}
.add-btn:hover{
    background: #D3F7B5;
}

.more-cell {
  text-align: right;
  vertical-align: middle;
}


.more-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.more-btn {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.more-btn:hover {
  background-color: #F2F4F7;
}

.more-btn img {
  width: 16px;
  height: 16px;
}



.more-dropdown {
  position: absolute;
  top: 38px;
  right: 0;

  width: 120px;
  background: #FFFFFF;
  border: 1px solid #E4E7EC;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);

  display: none;
  flex-direction: column;
  z-index: 10;
}


.more-wrapper:hover .more-dropdown {
  display: flex;
}


.more-dropdown button {
  padding: 10px 14px;
  font-size: 13px;
  font-family: 'Spline Sans', sans-serif;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  color: #2A2A2A;
}

.more-dropdown button:hover {
  background-color: #F2F4F7;
}


.more-dropdown .delete {
  color: #D92D20;
}
.more-dropdown .delete:hover {
  background: #D3F7B5;
}